<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
  <style>
    #panel {
      display: inline-block;
      border: 1px solid #ccc;
    }
    .content {
      width: 250px;
      height: 500px;
      background-color: aliceblue;
    }
  </style>
</head>
<body>
  <div id="panel">
    <div class="content"></div>
  </div>


<script>

</script>
</body>
</html>
